.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 10px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
}

.counter-text {
  color: white;
}
