.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 80%;
  height: auto;
  margin: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-title {
  font-size: 50px;
  font-weight: 900;
  text-align: start;
}

h2 {
  color: #374151;
  font-size: 25px;
}

p,
li {
  text-align: start;
  color: black;
  font-size: 23px;
}

.about-picture {
  width: 40%;
  margin-left: 40px;
  text-align: center;
  padding-top: 3rem;
}

.about-picture img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
